accelerate==1.0.0
aiohttp==3.10.5
aiohttp-cors==0.7.0
annotated-types==0.7.0
attrs==24.2.0
bitsandbytes==0.44.1
bleach==6.1.0
charset-normalizer==3.4.0
diffusers==0.26.3
einops==0.8.0
fastapi==0.115.0
filelock==3.16.1
fsspec==2024.6.1
ftfy==6.1.1
gradio==4.31.4
huggingface-hub==0.28.0
idna==3.10
imageio==2.35.1
ipython==8.21.0
jinja2==3.1.4
markupsafe==2.1.5
matplotlib==3.9.2
networkx==3.3
numpy==1.26.4
onnxruntime==1.17.3
packaging==24.2
pillow==10.0.0
psutil==5.9.3
pyyaml==6.0.2
regex==2024.11.6
requests==2.32.3
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.13.1
sympy==1.13.3
tifffile==2024.9.20
tokenizers==0.20.0
torch==2.1.2+cu118
torchaudio==2.1.2+cu118
torchvision==0.16.2+cu118
tqdm==4.67.1
transformers==4.45.2
triton==2.1.0
typing-extensions==4.12.2
yarl==1.11.1
